<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Ask Archi</title>
    <meta name="description" content="Knowledge Graphs for AEC">
    <meta name="author" content="Nguyen Ngo">
    <!-- load the jquery.js before the js for the app -->
    <script type="text/javascript" src={{ url_for('static', filename='jquery.js') }}> </script>
    <script type="text/javascript" src={{ url_for('static', filename='js/bootstrap.min.js') }}> </script>
    <script type="text/javascript" src={{ url_for('static', filename='archi-codes.js') }}>  </script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/archi.css') }}">

  </head>

  <body>

    <h2 id="title-text"><a href="/">archi.codes</a><sup><span class="badge badge-secondary" style="font-size:12px">beta</span></sup></h2>

    <span id="description-text">Archi has memorized the building code and can help you navigate the domain of building regulations</span>

    <div class="input-group" id="user-query">
      <div class="input-group-prepend">
        <span class="input-group-text">Ask Archi</span>
      </div>
      <textarea class="form-control" aria-label="With textarea" id="user-query" name="user-query" rows="4" cols="50" placeholder="Enter your research topic here" wrap="soft"></textarea>
    </div>

    <div id="predict-button">
      <button type="button" class="btn btn-primary" id="predict">RUN</button>
    </div>

    <div>
      <div id="show-user-query"></div>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <div id="component-results"></div>
          </div>
          <div class="col-12 col-md-6">
            <div id="result-table"></div>
          </div>
        </div>

      </div>

    </div>

  </body>
</html>
