<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Ask Archi</title>
    <meta name="description" content="Knowledge Graphs for AEC">
    <meta name="author" content="Nguyen Ngo">
    <!-- load the jquery.js before the js for the app -->
    <script type="text/javascript" src={{ url_for('static', filename='jquery.js') }}> </script>
    <script type="text/javascript" src={{ url_for('static', filename='js/bootstrap.min.js') }}> </script>
    <script type="text/javascript" src={{ url_for('static', filename='archi-codes.js') }}>  </script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/archi.css') }}">

  </head>

  <body>

    <h2 id="title-text"><a href="/">archi.codes</a><sup><span class="badge badge-secondary" style="font-size:12px">beta</span></sup></h2>

    <div>
      <h6>{{ data[0]['documentInfo']['source_doc']['title'] }} {{ data[0]['documentInfo']['chapter']['chapter_title'] }}</h6>
      {% for prov in data %}   <!--start for loop over variable data-->
      <div class="card">
        <div class="card-body">
          <h6 class="card-title"><a href="/provision/{{ prov['documentInfo']['section']['section_num'][:2]|join('_') }}">
            {{ prov['documentInfo']['section']['section_num']|join(".") }} {{ prov["documentInfo"]["section"]["section_title"] }}</a>
          </h6>
          <div class="card card-body">
            {{ prov['text'] }}
          </div>
        </div>
      </div>
      {% endfor %}  <!-- end for loop -->
    </div>

  </body>
</html>
