#title-text {
  padding: 10px;
}

#description-text {
  padding-left: 10px;
}

div#user-query {
  margin: auto;
  /* margin-left: 20px; */
  padding: 10px;
}

#noun-chunk {
  background-color: #ff1111;
  color: #ffffff
}

div#predict-button {
  /* margin-left: 20px; */
  padding-left: 10px;
}

div#result-table {
  padding: 10px;
}

div.card {
  margin: 5px;
}

div.card-header, div.card-body {
  padding: .25rem 1.25rem;
}

span.left {
  text-align: left;
}
span.right {
  text-align: right;
  float: right;
}
