<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>AI on Building Regulations</title>
    <meta name="description" content="NLP on Building Regulations">
    <meta name="author" content="Nguyen Ngo">

  </head>

  <body>

    <h1>Ask Archi</h1>
    <p>This app will help you navigate the domain of building regulations</p>
    <p>Please enter your research topic below</p>

    <div>
      <!-- These have id's so that later we can pull out data using js. -->
      <span>Research topic:</span>
      <textarea id="query" name="query" rows="4" cols="50" placeholder="Enter your research topic here" wrap="soft">
      </textarea>
    </div>

    <div>
      <button type="button">RUN</button>
    </div>

    <!-- <p>Hello World!</p> -->

  </body>
</html>
