<!DOCTYPE html>
<div>
  {% for chapter, doc_title, sec_title, text, score in data %}   <!--start for loop over variable data-->
  <div class="card">
    <div class="card-header">
      <span class="left"><small class="text-muted">{{ doc_title }}, {{ chapter }}</small></span>
      <span class="right"><small class="text-muted">{{ score }} match</small></span>
    </div>
    <div class="card-body">
      <h6 class="card-title">{{ sec_title }}
        {% if text|length > 0 %}
          <small class="text-muted"><a data-toggle="collapse" href="#collapse{{ loop.index }}" role="button" aria-expanded="false" aria-controls="collapse{{ loop.index }}">toggle text</a></small>
        {% endif %}
      </h6>
      <div class="collapse multi-collapse" id="collapse{{ loop.index }}">
        <div class="card card-body">
          {{ text }}
        </div>
      </div>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
  {% endfor %}  <!-- end for loop -->
</div>
